*
{
    margin: 0;
    font-family: sans-serif;
}
.Glavni
{
    width: 100%;
    height: 820px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
.img1
{
    width: 550px;
    position: absolute;
    left: 500px;
    top: 120px;
    z-index: 1;
}
.header1
{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconMenu
{
    width: 60px;
}
.h1
{
    width: 600px;
    text-align: center;
    position: relative;
    z-index: 2;
    margin: auto;
    margin-top: 180px;
}
.p1
{
    width: 200px;
}
.Podrobnee
{
    position: relative;
    z-index: 2;
}
.bolo
{
    width: 70%;
    margin: auto;
}
.Podrobnee
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.button1
{
    width: 250px;
    height: 55px;
    border-radius: 10px;
    border: none;
    font-weight: 400;
}
.tele1
{
    display: none;
}
.divButton
{
    display: none;
}
.buttontele
{
   display: none;
}
.box1
{
    width: 70%;
    height: 600px;
    margin: auto;
}
.yach1
{
    width: 166px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.yach2
{
    width: 220px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.yach3
{
    width: 240px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.yach3tele
{
    display: none;
}
.yach4
{
    width: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.yach5
{
    width: 270px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.one
{
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 10px;
    color: rgba(89, 139, 224, 1);
}
.Glavni2
{
    background-color: rgba(245, 245, 245, 1);
    padding-top: 100px;
}
.p2
{
    font-size: 20px;
}
.yacheykaho
{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.card
{
    width: 270px;
    height: 147px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2
{
    width: 100%;
    height: 800px;
    padding-top: 100px;
    background-color: rgba(34, 34, 34, 1);
}
.gridkati
{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
}
.item1
{
    width: 260px;
    height: 210px;
    background-color: white;
    border-radius: 10px;
    color: rgba(89, 139, 224, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.img3
{
    width: 400px;
    height: 250px;
}
.p3
{
    width: 80%;
    margin: auto;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}
.item2
{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.item6
{
    width: 100%;
    height: 150px;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}
.p4
{
    width: 350px;
    color: rgba(89, 139, 224, 1);
}
.p5
{
    width: 400px;
}
.box3
{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
}
.inBox1
{
    width: 50%;
    height: 581px;
    background-color: rgba(234, 235, 237, 1);
    border-radius: 16px;
    border: 1px solid rgba(198, 198, 198, 1);
    border-top: 4px solid rgba(89, 139, 224, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.inBox2
{
    width: 50%;
    height: 581px;
    border: 1px solid rgba(218, 218, 218, 1);
    border-radius: 16px;
}
.drunibox1
{
    width: 60%;
    height: 132px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hr1
{
    border: none;
    height: 3px;
    background-color: white;
    width: 80%;
}
.par
{
    width: 300px;
}
.divObshiy
{
    display: flex;
    justify-content: center;
}
.divObshiy2
{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.button2
{
    background-color: rgba(89, 139, 224, 1);
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img4
{
    width: 22px;
    height: 22px;
}
.skidka
{
    display: flex;
    gap: 30px;
    align-items: center;
}
.hr2
{
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(218, 218, 218, 1);
}
.p6
{
    font-size: 20px;
}
.box4
{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.inBox3
{
    display: flex;
    gap: 150px;
}
.inBox4
{
    margin-left: 220px;
    display: flex;
    gap: 150px;
}
.maya
{
    width: 200px;
}
.maya2
{
    width: 230px;
}
.maya3
{
    width: 290px;
}
.box5
{
   display: flex; 
   justify-content: space-between;
   margin-left: 140px;
   margin-top: 50px;
}
.buttonho
{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    gap: 50px;
}
.button3
{
    width: 35%;
    height: 70px;
    color: rgba(89, 139, 224, 1);
    border-radius: 10px;
    background-color: rgba(234, 235, 237, 1);
    border: none;
    font-size: 18px;
}
.button4
{
    width: 45%;
    height: 70px;
    color: rgba(89, 139, 224, 1);
    border-radius: 10px;
    background-color: rgba(34, 34, 34, 1);
    border: none;
    font-size: 18px;
}
.img5
{
    width: 100%;
    margin-top: 100px;
}
.box6
{
    width: 100%;
    height: 1000px;
    position: relative;
    bottom: 10px;
    background-color: rgba(34, 34, 34, 1);
}
.inBox5
{
    width: 70%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.h2
{
    font-size: 40px;
    text-align: center;
}
.oxir
{
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.druniOxir
{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.iks
{
    width: 50px;
    height: 50px;
    background-color: rgba(217, 217, 217, 0.6);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p7
{
    color: rgba(89, 139, 224, 1);
    font-size: 20px;
}
.oxir2
{
    width: 100%;
    height: 150px;
    background-color: rgba(26, 26, 26, 1);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
}
.buttontele2
{
    display: none;
}
.kak
{
    margin-top: 200px;
}
.tgtele
{
    display: none;
}

@media (max-width:510px) 
{
    .p7
    {
        font-size: 14px;
        width: 80%;
    }
    .inBox5
    {
        width: 90%;
    }
    .oxir
    {
        width: 100%;
    }
    .img3
    {
        width: 340px;
    }
    .item2
    {
        width: 100%;
    }
    .img5
    {
        width: 100%;
    }
    .button4
    {
        width: 100%;
    }
    .button3
    {
        width: 100%;
    }
    .buttonho
    {
        flex-direction: column;
        width: 90%;
    }
    .tgoxir
    {
        width: 290px;

    }
    .box5
    {
        margin-left: 0px;
        justify-content: space-between;
    }
    .tgtele
    {
        display: block;
    }
    .tg
    {
        display: none;
    }
    .box4
    {
        width: 90%;
        row-gap: 50px;
    }
    .inBox3
    {
        flex-direction: column;
        row-gap: 40px;
    }
    .inBox4
    {
        flex-direction: column;
        margin-left: 0px;
        row-gap: 40px;
    }
    .morak
    {
        display: none;
    }
    .kak
    {
        margin-top: 100px;
    }
    .p6
    {
        font-size: 14px;
    }
    .skidka
    {
        gap: 10px;
    }
    .box4
    {
        margin-top: 300px;
    }
    .drunibox1
    {
        width: 90%;
    }
    .inBox1
    {
        width: 100%;
        height: 290px;
    }
    .inBox2
    {
        width: 100%;
        height: 476px;
    }
    .box3
    {
        flex-direction: column;
        width: 90%;
    }
    .p4
    {
        width: 90%;
        text-align: center;
    }
    .p5
    {
        width: 90%;
        text-align: center;
    }
    .item6
    {
        flex-direction: column;
        height: 256px;
    }
    .item1
    {
        width: 90%;
        margin: auto;
    }
    .box2
    {
        height: 1700px;
    }
    .gridkati
    {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .buttontele2
    {
        display: block;
        width: 80%;
        height: 55px;
        margin: auto;
        margin-top: 30px;
        background-color: rgba(89, 139, 224, 1);
        font-size: 18px;
        color: white;
        border: none;
        border-radius: 10px;
    }
    .crad
    {
        display: none;
    }
    .img2
    {
        display: none;
    }
    .Glavni2
    {
        height: 1900px;
    }
    .one
    {
        background-color: rgba(245, 245, 245, 1);
    }
    .yach5
    {
        display: none;
    }
    .yach4
    {
        display: none;
    }

    .img6
    {
        display: none;
    }
    .yach3
    {
        display: none;
    }
    .yach3tele
    {
        width: 100%;
        height: 387px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
    }
    .centr
    {
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .p2
    {
        text-align: center;
    }
    .box1
    {
        width: 90%;
    }
    .yach1
    {
        width: 100%;
        height: 157px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }
    .yach2
    {
        width: 100%;
        height: 157px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }
    .yacheykaho
    {
        flex-direction: column;
        justify-content: none;
        row-gap: 20px;
    }
    .h2
    {
        font-size: 30px;
    }
    .buttontele
    {
        display: block;
    }
    .Glavni
    {
        width: 100%;
    }
    .img1
    {
        width: 356px;
        left: 10px;
    }
    .bolo
    {
        width: 90%;
    }
    .h1
    {
        width: 100%;
    }
    .Podrobnee
    {
        display: none;
    }
    .tele1
    {
        position: relative;
        top: 120px;
        z-index: 3;
        display: flex;
        justify-content: space-between;
    }
    .button1
    {
        position: relative;
        top: 170px;
    }
    .divButton
    {
        display: flex;
        justify-content: center;
    }
}