*
{
    margin: 0;
    font-family: sans-serif;
}
.Glavni
{
    width: 100%;
    height: 820px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
.img1
{
    width: 550px;
    position: absolute;
    left: 500px;
    top: 120px;
    z-index: 1;
}
.header1
{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconMenu
{
    width: 60px;
}
.h1
{
    width: 600px;
    text-align: center;
    position: relative;
    z-index: 2;
    margin: auto;
    margin-top: 180px;
}
.p1
{
    width: 200px;
}
.Podrobnee
{
    position: relative;
    z-index: 2;
}
.bolo
{
    width: 70%;
    margin: auto;
}
.Podrobnee
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.button1
{
    width: 250px;
    height: 55px;
    border-radius: 10px;
    border: none;
    font-weight: 400;
}
.tele1
{
    display: none;
}
.divButton
{
    display: none;
}
.buttontele
{
   display: none;
}
@media (max-width:510px) 
{
    .buttontele
    {
        display: block;
    }
    .Glavni
    {
        width: 100%;
    }
    .img1
    {
        width: 356px;
        left: 10px;
    }
    .bolo
    {
        width: 90%;
    }
    .h1
    {
        width: 100%;
    }
    .Podrobnee
    {
        display: none;
    }
    .tele1
    {
        position: relative;
        top: 120px;
        z-index: 3;
        display: flex;
        justify-content: space-between;
    }
    .button1
    {
        position: relative;
        top: 170px;
    }
    .divButton
    {
        display: flex;
        justify-content: center;
    }
}